{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Translation</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">ExploreConnect</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'language_translation' %}">Language Translation</a></li>
            <li><a href="{% url 'profile' %}">User Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search places...">
            <button>Search</button>
        </div>

    </div>

<div>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Destinations</title>
        
    </head>
    <body>
        <div class="con">
    
            {% for destination in destinations %}
            <div class="destination">
                <h2>{{ destination.name }}</h2>
                <p>{{ destination.description }}</p>
                {% endfor %}
              </div>  
                <h3>Attractions</h3>
                <div class="attractions">
                    {% for attraction in destination.attractions.all %}
                    <div class="attraction">
                        <img src="{{ attractions.image.url }}" alt="{{ attraction.name }}">
                        <h4>{{ attraction.name }}</h4>
                        <p>{{ attraction.description }}</p>
                        <p>Category: {{ attraction.get_category_display }}</p>
                    </div>
                    {% endfor %}
                </div>
            
           
        </div>
  
        
        
    <footer>
        &copy; 2024 ExploreConnect. All rights reserved.
    </footer>


</body>
</html>
