{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ destination.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">ExploreConnect</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'language_translation' %}">Language Translation</a></li>
            <li><a href="{% url 'profile' %}">User Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search places...">
            <button>Search</button>
        </div>
    </div>

    <div class="bowl">
        <h1>{{ destination.name }}</h1>
        {% if destination.slideshow_images.exists %}
     
            <img src="{{ destination.slideshow_images.first.image.url }}" alt="{{ destination.name }}"  >
            
    
        {% else %}
            <p>No images available for this destination.</p>
        {% endif %}
        <p>{{ destination.description }}</p>
  
        <div class="attractions">
            {% if attractions_by_category %}
                {% for category, attractions in attractions_by_category.items %}
                    <h2>{{ category }}</h2>
                    <div class="attraction-list">
                        {% if attractions %}
                            {% for attraction in attractions %}
                                <div class="attraction">
                                    <img src="{{ attraction.image.url }}" alt="{{ attraction.name }}" class="attraction-image">
                                    <h3>{{ attraction.name }}</h3>
                                    <p>{{ attraction.description }}</p>
                                    
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No attractions found in this category.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No attractions available for this destination.</p>
            {% endif %}
        </div>
    </div>

    <footer>
        &copy; 2024 ExploreConnect. All rights reserved.
    </footer>
</body>
</html>
