{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Explore Connect</title>
<meta charset="utf-8">
<link rel="icon" href="{% static 'images/favicon.ico' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.1.1.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>
<script src="{% static 'js/sForm.js' %}"></script>
<script src="{% static 'js/jquery.jqtransform.js' %}"></script>
<script src="{% static 'js/jquery.equalheights.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/tms-0.4.1.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.totop.js' %}"></script>
<script>
$(window).load(function () {
    $('.slider')._TMS({
        show: 0,
        pauseOnHover: false,
        prevBu: '.prev',
        nextBu: '.next',
        playBu: false,
        duration: 800,
        preset: 'random',
        pagination: false, //'.pagination',true,'<ul></ul>'
        pagNums: false,
        slideshow: 8000,
        numStatus: false,
        banners: true,
        waitBannerAnimation: false,
        progressBar: false
    });
    $("#tabs").tabs();
    $().UItoTop({
        easingType: 'easeOutQuart'
    });
});
</script>
<style>
  /* From Uiverse.io by boryanakrasteva */ 
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: #e09b07;
  box-shadow: 0px 0px 3px #44df44;
  padding-right: 40px;
  color: #10c970;
}

.input::placeholder,
.input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #cf0851;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



</style>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body class="page1">
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1><a href="home.html"><img src="{% static 'images/logo.png' %}"  alt=""></a></h1>
      <div class="clear"></div>
    </div>
    <div class="menu_block">
      <nav>
        <ul class="sf-menu">
          <li class="current"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'places' %}">Destinations</a></li>
          <li></li>
          <li><a href="{% url 'language_translation' %}">Translation</a></li>
          <li> <form method="GET" action="{% url 'places' %}">
            <li>
              <form method="GET" action="{% url 'places' %}">
                <input type="text" name="search" value="{{ search_query }}" placeholder="Search by country or city">
                <button type="submit">Search</button>
            </form></li>
            <input type="text" name="search" value="{{ search_query }}" placeholder="Search by country or city">
          </div>
        </form>
        </li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</header>
<div class="main">
    <div class="container_12">
      <div class="grid_12">
        <div class="slider-relative">
          <div class="slider-block">
            <div class="slider"> <a href="#" class="prev"></a><a href="#" class="next"></a>
              <ul class="items">
                <li><img src="{% static 'images/slide.jpg' %}"alt="">
                  <div class="banner">
                    <div> Your gateway to discovering new places and languages. </div>
                    <br>
                    <span> Start your journey now! </span> </div>
                </li>
                <li><img src="{% static 'images/slide2.jpg' %}" alt=""></li>
                <li><img src="{% static 'images/slide3.jpg' %}" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container_12">
        <div class="grid_12">
          <h3>Top Destinations</h3>
        </div>
        <div class="boxes">
          <div class="grid_4">
            <figure>
              <div><img src="{% static 'images/page1_img1.jpg' %}" alt=""></div>
              <figcaption>
                <h3>Venice</h3>
                Lorem ipsum dolor site geril amet, consectetur cing eliti. Suspendisse nulla leo mew dignissim eu velite a rew qw vehicula lacinia arcufasec ro. Aenean lacinia ucibusy fase tortor ut feugiat. Rabi tur oliti aliquam bibendum olor quis malesuadivamu. <a href="#" class="btn">Details</a> </figcaption>
            </figure>
          </div>
          <div class="grid_4">
            <figure>
              <div><img src="{% static 'images/page1_img2.jpg' %}" alt=""></div>
              <figcaption>
                <h3>New York</h3>
                Psum dolor sit ametylo gerto consectetur ertori hykill holit adipiscing lity. Donecto rtopil osueremo	kollit asec emmodem geteq tiloli. Aliquam dapibus neclol nami wertoli elittro eget vulpoli no
                utaterbil congue turpis in su. <a href="#" class="btn">Details</a> </figcaption>
            </figure>
          </div>
          <div class="grid_4">
            <figure>
              <div><img src="{% static 'images/page1_img3.jpg' %}" alt=""></div>
              <figcaption>
                <h3>Paris</h3>
                Lorem ipsum dolor site geril amet, consectetur cing eliti. Suspendisse nulla leo mew dignissim eu velite a rew qw vehicula lacinia arcufasec ro. Aenean lacinia ucibusy fase tortor ut feugiat. Rabi tur oliti aliquam bibendum olor quis malesuadivamu. <a href="#" class="btn">Details</a> </figcaption>
            </figure>
          </div>
          <div class="clear"></div>
        </div>
      
             
    
    <div class="bottom_block">
      <div class="container_12">
        <div class="grid_2 prefix_2">
          <ul>
            <li><a href="#">FAQS Page</a></li>
            <li><a href="#">People Say</a></li>
          </ul>
        </div>
        <div class="grid_2">
          <ul>
            <li><a href="#">Useful links</a></li>
            <li><a href="#">Partners</a></li>
          </ul>
        </div>
        <div class="grid_2">
          <ul>
            <li><a href="#">Insurance</a></li>
            <li><a href="#">Family Travel</a></li>
          </ul>
        </div>
        <div class="grid_2">
          <h4>Contact Us:</h4>
          TEL: 1-800-234-5678<br>
          <a href="#">info@demolink.org</a> </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container_12">
      <div class="grid_12">
        <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>
        <div class="copy"> ExploreConnect &copy; 2045 | <a href="#">Privacy Policy</a>  </div>
      </div>
      <div class="clear"></div>
    </div>
  </footer>
  </body>
  </html>