<!-- templates/your_app/tripadvisor_results.html -->
<!DOCTYPE html>
<html>
<head>
    <title>TripAdvisor Restaurant Results</title>
</head>
<body>
    <h1>Restaurants </h1>

    <ul>
        {% for restaurant in data %}
            <li>
                <strong>{{ restaurant.name }}</strong><br>
                {{ restaurant.address_obj.street1 }}, {{ restaurant.address_obj.city }}<br>
                Rating: {{ restaurant.rating }}<br>
                Price Level: {{ restaurant.price_level }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
