{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Explore Connect</title>
<meta charset="utf-8">
<link rel="icon" href="{% static 'images/favicon.ico' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/style3.css' %}">

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.1.1.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>
<script src="{% static 'js/sForm.js' %}"></script>
<script src="{% static 'js/jquery.jqtransform.js' %}"></script>
<script src="{% static 'js/jquery.equalheights.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/tms-0.4.1.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.totop.js' %}"></script>
<script>
$(window).load(function () {
    $('.slider')._TMS({
        show: 0,
        pauseOnHover: false,
        prevBu: '.prev',
        nextBu: '.next',
        playBu: false,
        duration: 800,
        preset: 'random',
        pagination: false,
        pagNums: false,
        slideshow: 8000,
        numStatus: false,
        banners: true,
        waitBannerAnimation: false,
        progressBar: false
    });
    $("#tabs").tabs();
    $().UItoTop({
        easingType: 'easeOutQuart'
    });
});
</script>
<style>
    .content {
        text-align: center;
        padding: 20px 0;
    }

    /* Buttons */
    button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .button {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
    }

    .button p {
        font-size: 16px;
    }

    /* Dropdown styling */
    select {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    /* Status and audio */
    #status, #translation_result {
        margin-top: 20px;
        font-size: 18px;
        text-align: center;
    }

    #translated_audio {
        margin-top: 10px;
    }

    /* Reposition status and audio */
    .result-section {
        margin-top: 20px;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
    }
    /* From Uiverse.io by csemszepp */ 
.box {
    width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-image: repeating-radial-gradient(  #0c0a0a 80%,#2f312f 90%,#3f4549 90%);
  background-size: 65px 65px;
}

/* From Uiverse.io by MuhammadHasann */ 
button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}
.box h1{
    color: #ccc;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 50px;
    padding-top: 100px;
}
.box label{
    color: #fffdef;
}
.result-section p{
    padding-bottom: 20px;
    color: #fefbfb;
    font-size: xx-large;

}
.language-selection {
    padding-top: 0%;
}
</style>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <header>
            <div class="container_12">
                <div class="grid_12">
                    <h1><a href="home.html"><img src="{% static 'images/logo.png' %}" alt=""></a></h1>
                    <div class="clear"></div>
                </div>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="with_ul"><a href="{% url 'Explore' %}">Explore</a>
                                <ul>
                                    <li><a href="{% url 'Hotels' %}">Hotels</a></li>
                                    <a href="{% url 'ThingstoDo' %}">Things to Do</a>
                                    <li><a href="{% url 'Restaurants' %}">Restaurants</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'Weather' %}">Weather</a></li>
                            <li><a href="{% url 'places' %}">Destinations</a></li>
                            <li class="current"><a href="{% url 'language_translation' %}">Translation</a></li>
                            <li><a href="{% url 'search' %}">Search</a></li>  
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        
        <div class="container_12">
            
                        <div class="box">
                            <h1>Language Translation</h1>
                            <div class="language-selection">
                                <div class="dropdowns">
                                    <div class="dropdown">
                                        <label id="input-language-text"> Input Language:</label>
                                        <select id="input-language" readonly style="width: 150px;">
                                            <option value="">Select ---</option>
                                        </select>
                                    </div>
                                    <button id="swap_languages" type="button">
                                        ⇆
                                    <div class="star-1">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xml:space="preserve"
                                        version="1.1"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        viewBox="0 0 784.11 815.53"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        >
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                            class="fil0"
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            ></path>
                                        </g>
                                        </svg>
                                    </div>
                                    <div class="star-2">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xml:space="preserve"
                                        version="1.1"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        viewBox="0 0 784.11 815.53"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        >
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                            class="fil0"
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            ></path>
                                        </g>
                                        </svg>
                                    </div>
                                    <div class="star-3">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xml:space="preserve"
                                        version="1.1"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        viewBox="0 0 784.11 815.53"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        >
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                            class="fil0"
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            ></path>
                                        </g>
                                        </svg>
                                    </div>
                                    <div class="star-4">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xml:space="preserve"
                                        version="1.1"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        viewBox="0 0 784.11 815.53"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        >
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                            class="fil0"
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            ></path>
                                        </g>
                                        </svg>
                                    </div>
                                    <div class="star-5">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xml:space="preserve"
                                        version="1.1"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        viewBox="0 0 784.11 815.53"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        >
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                            class="fil0"
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            ></path>
                                        </g>
                                        </svg>
                                    </div>
                                    <div class="star-6">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xml:space="preserve"
                                        version="1.1"
                                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                        viewBox="0 0 784.11 815.53"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        >
                                        <defs></defs>
                                        <g id="Layer_x0020_1">
                                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                            <path
                                            class="fil0"
                                            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                            ></path>
                                        </g>
                                        </svg>
                                    </div>
                                    </button>

                                    <div class="dropdown dropdown2">
                                        <label id="output-language-text">Output Language:</label>
                                        <select id="output-language" readonly style="width: 150px;">
                                            <option value="">Select---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="button">
                                    <button id="start_speaking" type="button">🎤 Start Speaking
                                        <div class="star-1">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-2">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-3">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-4">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-5">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-6">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        </button>
                                    <button id="stop_speaking" type="button">🛑 Stop Speaking
                                        <div class="star-1">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-2">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-3">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-4">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-5">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-6">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        </button>
                                    <button id="translate_button" type="button">🔄 Translate
                                        <div class="star-1">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-2">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-3">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-4">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-5">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        <div class="star-6">
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xml:space="preserve"
                                            version="1.1"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            viewBox="0 0 784.11 815.53"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            >
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                class="fil0"
                                                d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                ></path>
                                            </g>
                                            </svg>
                                        </div>
                                        </button>
                                </div>
                            </div>
                            
                            <!-- Status and result section -->
                            <div class="result-section">
                                <p id="status">Status: Not Speaking</p>
                                <p id="translation_result">
                                    <audio id="translated_audio" controls style="display: none;"></audio>
                                </p>
                            </div>
                    </div>
                </div>
    

    <script src="{% static 'js/translation.js' %}"></script>
    </form>

    <footer>
        <div class="container_12">
            <div class="grid_12">
                <div class="socials">
                    <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
                <div class="copy">
                    Journey &copy; 2045 | <a href="#">Privacy Policy</a> | Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>
