{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Translation</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
    <form  method="post">
        {% csrf_token %}
    <div class="navbar">
        <div class="logo">ExploreConnect</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'destination' %}">Destinations</a></li>
            <li><a href="{% url 'profile' %}">User Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search places...">
            <button>Search</button>
        </div>
    </div>


    <div class="content">
        <h1>Language Translation</h1>
        <div class="language-selection">
            <label for="input_langguage=text"> 
            <div class="dropdowns">
                <div class="dropdown" >
                    <label id="input-language-text"> Input Language:</label>
                    <select id="input-language"  readonly style="width: 150px;">
                        <option value="">Select language</option>
                    </select>
                    </label> 
                </div>
                <button id="swap_languages" type="button">⇆ </button>
                <div class="dropdown dropdown2">
                    <label id="output-language-text">Output Language:</label>
                    <select id="output-language"  readonly style="width: 150px;">
                        <option value="">Select language</option>
                    </select>
                </div>

                </div>

            <button id="start_speaking" type="button">🎤 Start Speaking</button>
            <button id="stop_speaking" type="button">🛑 Stop Speaking</button>
            <button id="translate_button" type="button">🔄 Translate</button>
            <p id="status">Status: Not Speaking</p>
            <p id="translation_result">
                <audio id="translated_audio" controls style="display: none;"></audio>
            </p>
        </label>  
        </div>

    </form>
    <footer class="footer-translation">
        &copy; 2024 ExploreConnect. All rights reserved.
    </footer>

    <script src="{% static 'js/translation.js' %}"></script>
</body>
</html>