<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ place.destination_name }} - Details</title>
    <style>
        .detail-container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }
        .detail-container img {
            max-width: 100%;
            height: auto;
        }
        .description {
            margin-top: 20px;
            font-size: 18px;
            line-height: 1.6;
        }
        .place-card {
            margin: 20px 0;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="detail-container">
        <img src="{{ place.image_url }}" alt="{{ place.destination_name }}">
        <h1>{{ place.destination_name }}</h1>
        
        {% if place.country_name %}
            <a href="{% url 'country_details' place.href %}" class="country-link">{{ place.country_name }}</a>
        {% endif %}
        
        <div class="description">
            <p>{{ place.destination_description }}</p>
        </div>

        <form method="POST" action="{% url 'best_time' place.destination_name %}">
            {% csrf_token %}
            <button type="submit">Best Time to Visit</button>
        </form>

        <a href="{% url 'fetch_tripadvisor' place=place.destination_name %}">Restaurants</a>
        <div class="place-container">
            {% for attraction in attractions %}
                <div class="place-card">
                    <a href="{% url 'attraction_details' place.destination_name %}"> <!-- Updated href for attraction -->
                        <img src="{{ attraction.image_url }}" alt="{{ attraction.attraction_name }}" onerror="this.src='default-image.jpg';">
                    </a>
                    <div>
                        <h3>{{ attraction.attraction_name }}</h3> <!-- Displaying attraction name instead -->
                    </div>
                </div>
            {% endfor %}
        </div>

        <form method="POST" action="{% url 'best_time' place.destination_name %}">
            {% csrf_token %}
            <input type="hidden" name="href" value="{{ place.href }}">
            <button type="submit">Best Time to Visit</button>
        </form>
        
    </div>
</body>
</html>
