
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
</head>
<body>
<main>
    <div class="login-container">
        <div class="login-col1">
            <img src="{% static 'images/3.jpg' %}"  />
        </div>
        <div class="login-col2">
            <div id="register">
                <p class="s-text">Already have an account ?
                    <a href="{% url 'login' %}">
                        <button class="s-btn" >Log in</button>
                    </a>
                </p>
            <div class="reg-section">
                 <h1>
                     Welcome to ExploreConnect!
                </h1>
                <h2>
                    Register your account
                </h2>
            </div>
            <div class="form-container">
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    <label>Name</label>
                    <input type="text" name="name" required>
                    <label>Email</label>
                    <input type="email" name="email" required>
                    <label>Password</label>
                    <input type="password" name="password" required>
                    <center><input type="submit" value="Register" class="lg-btn"></center>
                </form>
                <!-- <p>
                    {% if user %}
                        New user created with username {{user.username }}
                    {% endif %}
                </p>
                <p style="background-color:red;">
                    {% if error_message %}
                         New user created with username {{error_message }}
                    {% endif %}
                </p> -->
            </div>
        </div>
     </div>
    </main>
</body>
</html>           



                
